--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
mysql-connector-python
python-dotenv
groq
pydantic
pydantic-core
pyjwt
bcrypt
python-multipart
langchain
langgraph
langchain-groq
langchain-community
langchain-huggingface
faiss-cpu
torch
sentence-transformers